<mat-nav-list>
    <mat-list-item routerLink="/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div>Dashboard</div>
    </mat-list-item>
    <mat-list-item routerLink="/units">
        <mat-icon mat-list-icon>group_work</mat-icon>
        <div>Organisationseinheiten</div>
    </mat-list-item>
    <mat-list-item routerLink="/users">
        <mat-icon mat-list-icon>group</mat-icon>
        <div>Benutzer</div>
    </mat-list-item>
    <mat-list-item routerLink="/informations">
        <mat-icon mat-list-icon>info</mat-icon>
        <div>Informationen</div>
    </mat-list-item>
</mat-nav-list>